:root {
    --font-main: 'Rubik', 'Arial', sans-serif !important; 
    --font-heading: 'Patua One', 'Open Sans', sans-serif !important;
    --font-size: 0.9rem;

    --spacing-sm: 0.15rem;
    --spacing-md: 0.3rem;
    --spacing-lg: calc(var(--spacing-sm) + var(--spacing-md));
    --spacing-xl: calc(var(--spacing-lg) * 1.5);
    
    --border-width: 1px;

    --btn-md-height: 2rem;
    --btn-lg-height: 3rem;

    --animation-duration-short: 125ms;
    --animation-duration: 250ms;

    --MAIN-padding: var(--spacing-lg);
    --FOOTER-height: calc(var(--btn-md-height) + 2 * var(--spacing-lg));
    --HEADER-height: calc(3.5rem + 2 * var(--spacing-md));
    --NAV-width-normal: 0px;
    --NAV-width-active: 12rem;
    --SIDEBAR-width-normal: 0px;
    --SIDEBAR-width-active: 100%;

    font-size: var(--font-size) !important;
}

@font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('../webfonts/rubik-regular/400.eot?#iefix') format('embedded-opentype'), 
         url('../webfonts/rubik-regular/400.woff2') format('woff2'),
         url('../webfonts/rubik-regular/400.woff') format('woff'),
         url('../webfonts/rubik-regular/400.ttf')  format('truetype');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD; 
}

@font-face {
    font-family: 'Patua One';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('../webfonts/patua-one-regular/400.eot?#iefix') format('embedded-opentype'), 
         url('../webfonts/patua-one-regular/400.woff2') format('woff2'),
         url('../webfonts/patua-one-regular/400.woff') format('woff'),
         url('../webfonts/patua-one-regular/400.ttf')  format('truetype');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

::-webkit-scrollbar {
    width: var(--spacing-lg);
    height: var(--spacing-lg);
}

::-webkit-scrollbar-corner {
    visibility: hidden;
}

::-webkit-scrollbar-track {
    background-color: var(--primary);
}

::-webkit-scrollbar-thumb {
    background-color: var(--primary-border);
}

::selection {
    background-color: var(--selection-color);
}

body {
    height: 100%;
    max-height: 100%;
    width: 100%;
    max-width: 100%;
    display: grid;
    grid-template-rows: var(--HEADER-height) 1fr var(--FOOTER-height);
    grid-template-areas: 
        'header'
        'main'
        'footer';
    background-color: var(--background) !important;
    color: var(--text) !important;
    font-family: var(--font-main) !important;
    overflow: hidden !important;
    position: fixed;
}

header {
    grid-area: header;
    padding: var(--spacing-lg);
    padding-left: calc(var(--MAIN-padding) + var(--spacing-md));
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background-color: var(--background);
    z-index: 50;
    position: relative;
}

[data-magistraal="page-title"] {
    margin-bottom: 0 !important;
}

[onclick] {
    cursor: pointer;
}

p:last-child {
    margin-bottom: 0 !important;
}

main {
    grid-area: main;
    overflow-x: hidden !important;
    overflow-y: scroll !important;
    padding: var(--spacing-lg) var(--MAIN-padding);
    border-bottom: var(--border-width) solid var(--primary-border);
}

textarea {
    min-height: 2.5em;
    max-height: 20em;
}

[data-magistraal="page-buttons-container"] {
    display: flex;
    flex-direction: row;
    gap: var(--spacing-lg);
}

[data-magistraal="page-buttons"] * {
    white-space: nowrap;
}

[data-magistraal="page-search-no-matches"] {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

[data-magistraal="page-search-no-matches"].show {
    display: flex;
}

[data-magistraal="page-search-no-matches"] i {
    margin-right: -0.15em;
}

[data-magistraal="tooltip"] {
    position: fixed;
    top: 0;
    left: 0;
}

[data-magistraal="tooltip"],
.fr-sr-only {
    pointer-events: none !important;
    background-color: var(--primary) !important;
    padding: 0.125rem 0.5rem !important;
    border-radius: var(--border-radius) !important;
    z-index: 1000 !important;
    border: var(--border-width) solid var(--primary-border) !important;
    max-width: max(15rem, 33%) !important;
}

@media(hover: none) {
    [data-magistraal="tooltip"] {
        display: none !important;
    }

    ::-webkit-scrollbar {
        display: none !important;
    }
}



/* ============================ */
/*             Tiles            */
/* ============================ */

.tile {
    padding: 0.25rem 0.5rem;
    border-radius: var(--border-radius);
    border: var(--border-width) solid var(--primary-border);
    background-color: var(--primary);
    margin-bottom: 0.5rem;
}

/* ============================ */
/*         Input search         */
/* ============================ */

.input-search-wrapper {
    position: relative;
}

.input-search-results {
    position: absolute;
    display: flex;
    flex-direction: column;
    left: 0;
    right: 0;
    z-index: 25;
    top: calc(100% + var(--spacing-md));
    background-color: var(--primary);
    max-height: 0px;
    border: calc(var(--border-width) * 2) solid var(--secondary);
    border-width: 0 calc(var(--border-width) * 2);
    transition: var(--animation-duration) max-height, var(--animation-duration) border-width;
    overflow: hidden;
    margin: 0;
    padding: 0;
    border-radius: var(--border-radius);
}

.input-search-results::-webkit-scrollbar {
    display: none;
}

.input-search-wrapper.active .input-search-results:not(:empty) {
    overflow-y: scroll;
    max-height: min(12rem, 50vh);
    border-width: calc(var(--border-width) * 2);
}

.input-search-result {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
    height: var(--btn-md-height);
    padding: 0 var(--spacing-lg);
    cursor: pointer;
    border-top: var(--border-width) solid transparent;
    border-bottom: var(--border-width) solid transparent;
}

.input-search-result:hover,
.input-search-result[data-selected="true"] {
    background-color: var(--primary-accent);
}

.input-search-result[data-selected="true"] {
    border-color: var(--primary-border);
}

.input-search-result.input-search-result-rich {
    display: grid;
    padding-top: 0;
    grid-template-rows: 1.375em 1.375em;
    grid-template-columns: 2.75em 1fr;
    grid-template-areas: 
        'result-icon result-title'
        'result-icon result-description';
    height: auto;
    padding: var(--spacing-sm) var(--spacing-md);
}

.input-search-result.input-search-result-rich:not(:last-of-type) {
    padding-bottom: 0.5rem;
}

.input-search-result-rich .input-search-result-icon {
    grid-area: result-icon;
    position: relative;
    min-width: 2.75em;
    max-width: 2.75em;
    line-height: 2.7em;
    text-align: center;
    margin-left: -0.25em;
    z-index: 1;
    color: var(--text-inverse);
}

.input-search-result-rich .input-search-result-icon::after {
    content: '';
    position: absolute;
    height: 2.25em;
    width: 2.25em;
    top: 0.25em;
    left: 0.25em;
    background-color: var(--secondary);
    border-radius: 50%;
    z-index: -1;
}

.input-search-result-rich .input-search-result-title {
    grid-area: result-title;
    color: var(--text);
}

.input-search-result-rich .input-search-result-description {
    grid-area: result-description;
    color: var(--text-muted);
}

.input-search-value-item {
    background-color: var(--secondary);
    border-radius: var(--border-radius);
    padding: 0.125rem 0.375rem;
}

/* ============================ */
/*         Input tags         */
/* ============================ */

.input-tags-wrapper {
    position: relative;
    height: fit-content;
    width: 100%;
}

.input-tags-wrapper .input-tags-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    min-height: var(--btn-md-height);
    z-index: 5;
    padding: var(--spacing-sm);
}

.input-tags-wrapper .input-tags,
.input-tags-wrapper .input-tags-tag {
    list-style-type: none;
    border-radius: var(--border-radius);
    background-color: var(--secondary);
    display: flex;
    align-items: center;
}

.input-tags-wrapper .input-tags-tag {
    margin: var(--spacing-sm);
    padding: var(--spacing-sm) var(--spacing-md);
}

.input-tags-wrapper .input-tags {
    background-color: transparent !important;
    border: none !important;
    height: auto !important;
    flex-grow: 1 !important;
    box-shadow: none !important;
    width: auto;
    min-width: 8rem;
}

.input-tags-wrapper .input-ghost {
    pointer-events: none;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}



/* ============================ */
/*          List items          */
/* ============================ */

.list-item {
    --list-item-icon-background: var(--secondary);
    --list-item-icon-color: var(--text-inverse);
    --list-item-border-color: var(--primary-border);
    --list-item-background: var(--primary);
    --list-item-action-background: var(--primary-border);
    --list-item-action-border-color: var(--primary);
    --list-item-action-primary-background: var(--list-item-action-background);
    --list-item-action-primary-border-color: var(--list-item-action-border-color);
    width: 100%;
    display: grid;
    grid-template-columns: 3rem fit-content(100%) auto;
    grid-template-rows: auto auto;
    grid-template-areas: 
        'list-item-icon list-item-title   list-item-actions'
        'list-item-icon list-item-content list-item-actions';
    padding: var(--spacing-md);
    border-radius: var(--border-radius);
    border: var(--border-width) solid var(--list-item-border-color);
    background-color: var(--list-item-background);
    margin-bottom: var(--spacing-lg);
    position: relative;
    transition: var(--animation-duration-short) background-color;
}

.list-item .list-item-icon {
    grid-area: list-item-icon;
    padding: 0 var(--spacing-md);
    height: var(--btn-lg-height);
    width: var(--btn-lg-height);
    background-color: var(--list-item-icon-background);
    color: var(--list-item-icon-color);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.25rem;
    border-radius: var(--border-radius);
    transition: var(--animation-duration) background-color;
}

.list-item .list-item-title {
    grid-area: list-item-title;
}

.list-item .list-item-content {
    grid-area: list-item-content;
}

.list-item .list-item-title,
.list-item .list-item-content {
    padding: 0 var(--spacing-lg);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 0;
}

.list-item-flex {
    grid-template-columns: 3rem auto max-content;
}

.list-item-flex .list-item-title,
.list-item-flex .list-item-content {
    display: flex;
    flex-direction: row;
}

.list-item .list-item-actions {
    grid-area: list-item-actions;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 0.5rem;
    flex-direction: row;
    flex-wrap: nowrap;
    column-gap: var(--spacing-lg);
    width: max-content;
    margin-left: auto;
}

.list-item .list-item-action {
    height: 1.75rem;
    display: grid;
    justify-content: center;
    align-content: center;
    background-color: var(--list-item-action-background);
    border-radius: var(--border-radius);
    cursor: pointer;
    padding: 0.125rem 0.5rem;
    border: var(--border-width) solid var(--list-item-action-border-color);
}

.list-item-action-primary {
    background-color: var(--list-item-action-primary-background);
    border: var(--border-width) solid var(--list-item-action-primary-border-color);
}

.list-item .list-item-action-square {
    width: 1.75rem;
    color: var(--text);
}

.list-item .list-item-action-square > * {
    max-height: 1.25rem;
    max-width: 1.25rem;
    text-align: center;
    vertical-align: middle;
}

.list-item.list-item-with-input .list-item-content {
    overflow: visible !important;
}

.list-item.list-item-with-input .input-search {
    color: var(--text-muted) !important;
    pointer-events: none !important;
    width: 100%;
    padding: 0;
    border: none;
    height: auto;
    line-height: inherit !important;
    width: 100%;
    background-color: transparent !important;
}

.list-item.list-item-with-input .input-search-wrapper {
    width: 100%;
    cursor: pointer;
    position: static;
}

.list-item.list-item-with-input .input-search-wrapper::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.list-item.list-item-with-input .input-search-wrapper .input-search-results {
    top: calc(100% + var(--border-width) * 4 + var(--spacing-md));
    left: calc(var(--btn-lg-height) + var(--spacing-lg) + var(--border-width) * 2);
} 

.list-item[data-selected="true"],
.list-item[onclick]:hover,
.list-item.list-item-with-input:hover {
    --list-item-background: var(--list-item-border-color);
}

.list-item[disabled]:not([disabled="false"]) {
    opacity: 0.75;
    pointer-events: none;
}



/* ============================ */
/*           Absences           */
/* ============================ */

.absence-list-item[data-type]:not([data-type="unknown"])[data-permitted="true"] {
    --list-item-icon-background: var(--success);
}

.absence-list-item[data-type]:not([data-type="unknown"]):not([data-permitted="true"]) {
    --list-item-icon-background: var(--danger);
}



/* ============================ */
/*           Account            */
/* ============================ */

.account-info-tile {
    margin-bottom: 0;
}

.account-info-item {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin-bottom: 0.5rem;
}

.account-info-item h5 {
    margin-bottom: 0.15rem;
}

.account-info-item span {
    color: var(--text-muted);
    white-space: nowrap;
}



/* ============================ */
/*         Appointments         */
/* ============================ */

@media(max-width: 767.98px) {
    body[data-page="appointments/list"] main {
        display: flex;
        flex-direction: row;
        overflow-x: scroll !important;
        overscroll-behavior-x: contain;
        scroll-snap-type: mandatory;
        scroll-snap-points-y: repeat(100%);
        scroll-snap-type: x mandatory;
        padding: var(--spacing-lg) 0;
    }

    body[data-page="appointments/list"] .appointments-group {
        min-width: 100%;
        scroll-snap-align: center;
        padding: 0 var(--MAIN-padding);
    }
}

.appointment-list-item {
    background-color: var(--list-item-background);
    border: var(--border-width) solid var(--list-item-border-color);
    cursor: pointer;
}

[data-sidebar-active="true"] .appointment-list-item:not([data-selected="true"]) .list-item-icon {
    pointer-events: none;
}

.appointment-list-item:not([data-has-meeting-link="true"]) .appointment-meeting-link {
    display: none;
}

.appointment-list-item[data-info-type="none"] .appointment-info-type {
    display: none;
}

.appointment-list-item .list-item-action.appointment-info-type {
    background-color: var(--list-item-action-primary-background);
}

.appointment-list-item[data-info-type*="test"],
.appointment-list-item[data-info-type*="exam"] {
    --list-item-action-primary-background: var(--secondary);
}

.appointment-list-item[data-status="canceled"] {
    --list-item-background: var(--danger-accent);
    --list-item-icon-background: var(--danger);
    --list-item-border-color: var(--danger-border);
    --list-item-action-border-color: var(--danger);
    --list-item-action-background: var(--danger-border);
}

.appointment-list-item[data-status="canceled"][data-selected="true"] {
    --list-item-background: var(--danger-border) !important;
}

.appointment-list-item[data-finished="true"] {
    --list-item-action-primary-background: var(--success);
    --list-item-action-primary-border: var(--success);
    --list-item-icon-background: var(--success);
}



/* ============================ */
/*            Grades            */
/* ============================ */

.grade-list-item {
    cursor: pointer;
}

.grade-list-item[data-passed="false"] {
    --list-item-icon-background: var(--danger);
}

.grade-list-item[data-value="10"] {
    --list-item-icon-background: var(--success);
}

.grade-list-item[data-exemption="true"] {
    --list-item-icon-color: var(--text-muted-inverse);
}

/* ============================ */
/*        Grades overview       */
/* ============================ */

.grade-overview {
    display: grid;
    grid-template-columns: 8rem 1fr;
    grid-template-rows: 4rem 1fr;
    grid-template-areas: 
        'go-none     go-terms'
        'go-subjects go-main';
    width: 100%;
    background: blue;
}

.grade-overview-subjects {
    grid-area: go-subjects;
    background: green;
    height: 100%;
}

.grade-overview-subject {
    height: var(--btn-lg-height);
    line-height: var(--btn-lg-height);
    padding: 0 var(--spacing-lg);
}

.grade-overview-terms {
    grid-area: go-terms;
    display: flex;
    flex-direction: row;
}

.grade-overview-term {
    flex: 1 1 0px;
    background: purple;
}

.grade-overview-term-header {
    background: red;
    display: block;
    text-align: center;
    width: 100%;
}

.grade-overview-column {
    width: var(--btn-lg-height);
    background: yellow;
}

.grade-overview-main-cell {
    background: orange;
}

.grade-list-item[data-counts="false"] .grade-value {
    text-decoration: line-through;
}

.grades-overview-grade[data-value="10"] {
    background-color: var(--success);
}

.grades-overview-grade[data-passed="false"] {
    background-color: var(--danger);
}

.grades-overview-grade[data-exemption="true"] {
    color: var(--text-muted-inverse);
}

.grades-overview-grade[data-counts="false"] {
    text-decoration: line-through;
}



/* ============================ */
/*           Messages           */
/* ============================ */

.message-list-item {
    --list-item-icon-background: var(--primary-accent);
}

.message-list-item[data-priority]:not([data-priority="0"]):not([data-read="true"]) .message-list-item-icon { /* Message with priority */
    --list-item-icon-background: var(--danger);
}

.message-list-item[data-read]:not([data-read="true"]) { /* Message has not been read yet */
    --list-item-icon-background: var(--secondary);
}



/* ============================ */
/*           Settings           */
/* ============================ */

.setting {
    margin-bottom: var(--spacing-lg);
}



/* ============================ */
/*       Popup and Dialog       */
/* ============================ */

.popup,
.dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    opacity: 0;
    pointer-events: none;
    z-index: 150;
    background-color: var(--primary);
    border-radius: var(--border-radius);
    transition: var(--animation-duration) opacity;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: min(95vh, 30rem);
    max-height: 95vh;
    width: 95vw;
    max-width: 95vw;
}

.popup > form {
    max-height: 100%;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.dialog {
    z-index: 200;
    max-width: min(90vw, 30rem);
    width: fit-content;
}

.popup-main,
.dialog-main {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;
    padding: var(--spacing-lg);
    height: 100%;
    flex: 1;
}

.dialog-description {
    padding-bottom: var(--spacing-md);
}

.popup-main::-webkit-scrollbar {
    display: none;
}

.popup-footer,
.dialog-footer {
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: var(--spacing-lg);
    padding: var(--spacing-lg);
    z-index: 10;
    background-color: var(--primary-accent);
    border-top: var(--border-width) solid var(--primary-border);
}

.dialog-footer .btn {
    min-width: 4.75rem;
}

.popup-backdrop,
.dialog-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 125;
    opacity: 0;
    pointer-events: none;
    display: block;
    background-color: rgba(0, 0, 0, 0.5);
    transition: var(--animation-duration) opacity;
}

.dialog-backdrop {
    z-index: 175;
}

.popup.show,
.popup-backdrop.show,
.dialog.show,
.dialog-backdrop.show  {
    opacity: 1;
    pointer-events: all;
}

.popup-title {
    padding-left: var(--spacing-sm);
}

.popup-item {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.popup-item:not(:last-of-type) {
    margin-bottom: var(--spacing-lg);
}

.popup-item-key,
.popup-item-value {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    position: relative;
    max-width: 100%;
}

.popup-item-key {
    display: none; /* media-md: flex */
    margin-bottom: 0;
    max-height: 2.175rem;
    padding-left: var(--spacing-sm);
}



/* ============================ */
/*           Sidebar            */
/* ============================ */

[data-magistraal="sidebar"] {
    display: flex;
    max-height: 100%;
    flex-direction: column;
    position: fixed;
    top: var(--HEADER-height);
    right: 0;
    bottom: var(--FOOTER-height);
    min-width: var(--SIDEBAR-width-active);
    max-width: var(--SIDEBAR-width-active);
    transform: translateX(100%);
    transition: var(--animation-duration) transform;
    z-index: 25;
    overflow: visible;
    background-color: var(--background);
    border-bottom: var(--border-width) solid var(--primary-border);
    padding: var(--spacing-lg) var(--spacing-lg) 0 var(--spacing-lg);
}

[data-magistraal="sidebar-title"],
[data-magistraal="sidebar-subtitle"],
[data-magistraal="sidebar-table"] {
    padding: 0 var(--spacing-md);
}

[data-magistraal="page-back-button"] {
    display: none;
}

[data-sidebar-active="true"] [data-magistraal="sidebar"] {
    transform: translateX(0);
}

[data-magistraal="sidebar-actions"] {
    gap: var(--spacing-lg);
    display: none;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--primary-accent);
}

[data-magistraal="page-search"] {
    transition: var(--animation-duration) opacity;
}

body[data-sidebar-active="true"] [data-magistraal="sidebar-actions"] {
    display: flex;
}

body[data-sidebar-active="true"] [data-magistraal="page-buttons-container"] {
    display: none;
}

body[data-sidebar-active="true"] [data-magistraal="page-search"] {
    opacity: 0;
    pointer-events: none;
}

body[data-history="true"] [data-magistraal="nav-toggler"] { /* Hide nav toggler, show back button */
    display: none;
}

body[data-history="true"] [data-magistraal="page-back-button"] { /* Hide nav toggler, show back button */
    display: block;
}

.sidebar-table {
    overflow-y: scroll;
    flex: 1;
    height: 100%;
    width: 100%;
}

.sidebar-table-cell.sidebar-table-key {
    padding-top: 0.5rem;
}

.sidebar-table-cell.sidebar-table-key:not(:first-child) {
    border-top: var(--border-width) solid var(--primary-border);
}

.sidebar-table-cell.sidebar-table-value {
    padding-bottom: 0.5rem;
    color: var(--text-muted);
}


/* ============================ */
/*          Navigation          */
/* ============================ */

nav {
    grid-area: nav;
    position: fixed;
    background-color: var(--secondary);
    display: flex;
    flex-direction: column;
    transition: width var(--animation-duration);
    overflow-x: hidden;
    overflow-y: scroll;
    z-index: 100;
    width: 0px;
    top: 0;
    left: 0;
    bottom: var(--FOOTER-height);
    z-index: 75;
}

[data-nav-active="true"] nav {
    width: var(--NAV-width-active);
}

nav .nav-items {
    padding: 0;
    margin: 0;
    text-align: left;
}

nav .nav-item {
    list-style-type: none;
    padding: 0.25rem 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    white-space: nowrap;
    transition: var(--animation-duration-short) background-color;
}

nav .nav-item:hover,
nav .nav-item:focus,
nav .nav-item.active {
    background-color: rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

nav .nav-item i {
    text-align: center;
    min-width: var(--btn-lg-height);
    min-height: var(--btn-lg-height);
    line-height: var(--btn-lg-height);
    font-size: 1.5em;
}

nav .nav-item span {
    min-height: var(--btn-lg-height);
    line-height: var(--btn-lg-height);
    padding-left: 0.75rem;
}



/* ============================ */
/*            Footer            */
/* ============================ */


footer {
    grid-area: footer;
    position: relative;
    z-index: 50;
    padding: var(--spacing-lg);
    min-height: var(--FOOTER-height);
    max-height: var(--FOOTER-height);
    background-color: var(--primary-accent);
    display: flex;
    flex-direction: row;
    width: 100%;
}

[data-magistraal="console"] {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.console-message {
    display: flex;
    flex-direction: row;
}

.console-message-content {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}



/* ============================ */
/*           Classes            */
/* ============================ */

.bullet::before {
    display: inline-block;
    content: '\2022';
    padding: 0 var(--spacing-lg);
}

.text-ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.scrollbar-hidden::-webkit-scrollbar {
    display: none;
}

[data-online="false"] .online-only {
    opacity: 0.25;
    pointer-events: none;
}

.full-page {
    position: absolute;
    top: var(--HEADER-height);
    bottom: var(--FOOTER-height);
    left: var(--NAV-width-normal);
    right: var(--SIDEBAR-width-normal);
}



/* ============================ */
/*          Overriding          */
/* ============================ */

.rounded, .btn, .form-control {
    border-radius: var(--border-radius) !important;
}

.form-control {
    background-color: var(--primary) !important;
    color: var(--text) !important;
    border-color: var(--primary-border);
    height: var(--btn-md-height);
    padding: 0 var(--spacing-lg);
    line-height: var(--btn-md-height);
    vertical-align: middle;
}

.form-control:focus,
.form-control.focus {
    border: var(--border-width) solid var(--secondary);
    box-shadow: 0 0 0 var(--border-width) var(--secondary);
}

.input {
    display: flex;
}

.flex-row {
    gap: var(--spacing-lg);
}

.btn {
    --btn-height: var(--btn-md-height);
    padding: 0 var(--spacing-xl);
    height: var(--btn-height);
    min-height: var(--btn-height);
    max-height: var(--btn-height);
    white-space: nowrap;
}

.btn.btn-lg {
    --btn-height: var(--btn-lg-height);
}

.btn-square {
    min-width: var(--btn-height);
    max-width: var(--btn-height);
}

.btn.btn-with-icon .btn-icon + .btn-text {
    margin-left: var(--spacing-lg);
}

.btn:focus {
    box-shadow: 0 0 0 4px var(--selection-color) !important;
}

.form-control::placeholder {
    color: var(--text-muted) !important;
}



/* ============================ */
/*            Theme             */
/* ============================ */

[data-settings*="appearance.buttons=icon"] .btn.btn-with-icon .btn-text {
    display: none;
}

[data-settings*="appearance.buttons=text"] .btn.btn-with-icon .btn-icon {
    display: none;
}

[data-settings*="appearance.buttons=text"] .btn.btn-with-icon .btn-text {
    margin-left: 0;
}

[data-settings*="appearance.animations=off"] {
    --animation-duration: 0ms;
    --animation-duration-short: 0ms;
}

@media(prefers-reduced-motion) {
    :root {
        --animation-duration: 0ms !important;
        --animation-duration-short: 0ms !important;
    }
}


/* ============================ */
/*            Fonts             */
/* ============================ */

h1, h2, h3, h4, h5, h6, .btn, .font-heading {
    font-family: var(--font-heading);
}

.icon-inline {
    margin-right: 0.25rem;
}



/* ============================ */
/*            Colors            */
/* ============================ */

.btn.btn-danger {
    background-color: var(--danger) !important;
    color: var(--text);
    border-color: var(--danger) !important;
}

.btn.btn-primary {
    background-color: var(--primary) !important;
    color: var(--text);
    border-color: var(--primary) !important;
}

.btn.btn-secondary {
    background-color: var(--secondary) !important;
    color: var(--text-inverse);
    border-color: var(--secondary) !important;
}

.btn.btn-success {
    background-color: var(--success) !important;
    color: var(--text-inverse);
    border-color: var(--success) !important;
}

.text-danger { color: var(--danger) !important; }
.text-default { color: var(--text); }
.text-inverse { color: var(--text-inverse); }
.text-muted { color: var(--text-muted) !important; }
.text-muted-inverse { color: var(--text-muted-inverse); }
.text-primary { color: var(--primary) !important; }
.text-secondary { color: var(--secondary) !important; }
.text-success {color: var(--success) !important; }

.bg-background { background-color: var(--background) !important; }
.bg-danger { background-color: var(--danger) !important; }
.bg-primary { background-color: var(--primary) !important; }
.bg-primary-accent { background-color: var(--primary-accent) !important; }
.bg-secondary { background-color: var(--secondary) !important; }
.bg-success { background-color: var(--success) !important; }

.border-background { border-color: var(--background) !important; }
.border-danger { border-color: var(--danger) !important; }
.border-primary { border-color: var(--primary-border) !important; }
.border-success { border-color: var(--success) !important; }

/* ============================ */
/*            Froala            */
/* ============================ */

.fr-box > .fr-wrapper[dir="auto"] > div[style] > a[href="https://www.froala.com/wysiwyg-editor?k=u"] {
    height: 0px !important;
    visibility: hidden !important;
}

.fr-box > .fr-wrapper[dir="auto"] > div[style] {
    height: 1px !important;
    pointer-events: none !important;
}

.fr-box > .fr-wrapper[dir="auto"] > .fr-placeholder {
    margin-top: 0px !important;
}