@media(min-width: 992px) {
    :root {
        --spacing-sm: 0.2rem;
        --spacing-md: 0.25rem;

        --btn-md-height: 2.25rem;
        --sidebar-width: 33vw;
    }

    body {
        grid-template-columns: var(--nav-width) 1fr var(--sidebar-width);
        grid-template-areas:
            'nav    header header'
            'nav    main   sidebar'
            'footer footer footer';
    }

    header {
        padding-right: var(--sidebar-width);
    }

    [data-magistraal="sidebar"] {
        grid-area: sidebar;
        display: flex !important;
        transform: none !important;
        position: relative !important; 
        border-radius: 0 !important;
        box-shadow: none !important;
        top: 0 !important;
        right: 0 !important;
        overflow-x: hidden !important;
        overflow-y: scroll !important;
    }

    [data-magistraal="sidebar"]::after {
        display: none !important;
    }

    .grid-key-value {
        grid-template-columns: 1fr 3fr;
    }
}