@media(min-width: 992px) {
    body {
        grid-template-columns: 3rem 1fr 33vw;
        grid-template-rows: 3.75rem 1fr 2.5rem;
        grid-template-areas:
            'nav    header header'
            'nav    main   sidebar'
            'footer footer footer';
    }
    
    header {
        padding-right: 33vw !important;
    }
   

    [data-magistraal="sidebar"] {
        grid-area: sidebar;
        display: flex !important;
        transform: none !important;
        position: relative !important; 
        border-radius: 0 !important;
        width: auto !important;
        box-shadow: none !important;
        top: 0 !important;
        right: 0 !important;
        overflow-x: hidden !important;
        overflow-y: scroll !important;
    }

    [data-magistraal="sidebar"]::after {
        display: none !important;
    }

    .list-item[data-selected="true"] {
        --list-item-background: var(--primary-border) !important;
    }

    .grid-key-value {
        grid-template-columns: 1fr 3fr;
    }
}