@media(min-width: 576px) {
    .appointment .lesson-time,
    .appointment .lesson-main .bullet {
        display: inline-block;
    }

    .sidebar-actions .sidebar-action .action-icon {
        display: none;
    }

    .sidebar-actions .sidebar-action .action-text {
        display: inline;
    }
}