@media(min-width: 992px) {
    :root {
        --spacing-sm: 0.2rem;
        --spacing-md: 0.25rem;

        --btn-md-height: 2.25rem;
        --SIDEBAR-width-normal: 33vw;
        --SIDEBAR-width-active: 33vw;
    }

    body {
        grid-template-columns: var(--NAV-width-normal) 1fr var(--SIDEBAR-width-normal);
        grid-template-areas:
            'nav    header header'
            'nav    main   sidebar'
            'footer footer footer';
    }

    header {
        padding-right: var(--SIDEBAR-width-normal);
    }

    nav {
        min-width: var(--NAV-width);
    }

    [data-magistraal="sidebar"] {
        grid-area: sidebar;
        display: flex !important;
        transform: none !important;
        position: relative !important; 
        border-radius: 0 !important;
        box-shadow: none !important;
        top: 0 !important;
        right: 0 !important;
        overflow: hidden auto !important;
        transition: 0ms transform !important;
    }

    [data-magistraal="sidebar"]::after {
        display: none !important;
    }

    .grid-key-value {
        grid-template-columns: 1fr 3fr;
    }
}