:root {
    --danger: #dc3545;
    --danger-border: #5e181f;
    --danger-dark: #461217;
    --success: #28a745;
    --primary: #2d2e33;
    --primary-accent: #3c3d44;
    --primary-border: #44474c;
    --secondary: #0058db;
    --secondary-accent: #4b86d8;
    --secondary-border: #3679d8;
    --text: #ffffff;
    --text-muted: #aaaaaa;
    --text-contrary: #ffffff;
    --text-contrary-muted: #aaaaaa;
    --background: #202124;
    --border-radius: 0.5rem;
    --selection-color: rgba(255, 255, 255, 0.1);
    --heavy-shadow: 0 0 2.5rem 0 var(--background);
    --light-shadow: 0 0 0.3rem 0 rgba(0, 0, 0, 0.4);
}

input {
    color-scheme: dark;
}