/* LIGHT THEME */
[data-settings*="appearance.theme=light"] {
    --red: #dc3545;
    --blue: #0058db;
    --green: #05c769;
    --purple: #5458af;
    --yellow: #c1bb1d;

    --background: #f2f2f2;
    --border-radius: 0.5rem;
    --danger-accent: #ed7f8a;
    --danger-border: #e35d6b;
    --danger: var(--red);
    --heavy-shadow: 0 0 3rem 0 rgba(0, 0, 0, 0.25);
    --light-shadow: 0 0 0.3rem 0 rgba(0, 0, 0, 0.4);
    --primary-accent: #d9d9d9;
    --primary-border: #d9d9d9;
    --primary: #e6e6e6;
    --secondary: var(--blue);
    --selection-color: rgba(0, 0, 0, 0.1);
    --success: var(--green);
    --teams: var(--purple);
    --text-inverse: #ffffff;
    --text-muted-inverse: #dddddd;
    --text-muted: #6c757d;
    --text: #212529;
}

[data-settings*="appearance.theme=light"] input {
    color-scheme: light;
}