:root {
    --red: #dc3545;
    --red-border: #db5360;
    --red-dark: #ea8891;
    --green: #28a745;
    --primary: #1568d6;
    --primary-accent: #eeeeee;
    --primary-border: #cccccc;
    --text: #202124;
    --text-contrary: #ffffff;
    --text-contrary-muted: #aaaaaa;
    --text-muted: #444444;
    --background: #ffffff;
    --border-radius: 0.5rem;
    --selection-color: rgba(0, 0, 0, 0.1);
    --heavy-shadow: 0 0 3rem 0 rgba(0, 0, 0, 0.25);
    --light-shadow: 0 0 0.3rem 0 rgba(0, 0, 0, 0.4);
}

input {
    color-scheme: light;
}