/* SILVER THEME */
[data-settings*="appearance.theme=silver"] {
    --background: #4e515f;
    --border-radius: 0.5rem;
    --danger-accent: #c34c58;
    --danger-border: #bc3d4a;
    --danger: #a1323d;
    --heavy-shadow: 0 0 2.5rem 0 var(--background);
    --light-shadow: 0 0 0.3rem 0 rgba(0, 0, 0, 0.4);
    --primary-accent: #5d5f6c;
    --primary-border: #5e606c;
    --primary: #707281;
    --secondary: #0058db;
    --selection-color: rgba(255, 255, 255, 0.1);
    --success: #28a745;
    --teams: #5458af;
    --text-inverse: #ffffff;
    --text-muted-inverse: #cccccc;
    --text-muted: #cccccc;
    --text: #ffffff;
}

[data-settings*="appearance.theme=dark"] input {
    color-scheme: dark;
}